@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #f3f3f3;
    display: block;
    font-size: 16px;
    font-weight: 500;
} 

ul, li {
    list-style: none;
}

img {
    display: block;
    border: 0;
    object-fit: cover;
}

